@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

@import "tailwindcss";
@plugin "daisyui";

@theme {
  --font-sans: "Inter", sans-serif;
}

body {
  @apply font-sans;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

p {
  @apply font-light;
}
